<component name="libraryTable">
  <library name="log4j2">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/../../../source/log4j2/apache-log4j-2.10.0/log4j-1.2-api-2.10.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../source/log4j2/apache-log4j-2.10.0/log4j-api-2.10.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../source/log4j2/apache-log4j-2.10.0/log4j-appserver-2.10.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../source/log4j2/apache-log4j-2.10.0/log4j-cassandra-2.10.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../source/log4j2/apache-log4j-2.10.0/log4j-core-2.10.0-tests.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../source/log4j2/apache-log4j-2.10.0/log4j-core-2.10.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../source/log4j2/apache-log4j-2.10.0/log4j-couchdb-2.10.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../source/log4j2/apache-log4j-2.10.0/log4j-flume-ng-2.10.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../source/log4j2/apache-log4j-2.10.0/log4j-iostreams-2.10.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../source/log4j2/apache-log4j-2.10.0/log4j-jcl-2.10.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../source/log4j2/apache-log4j-2.10.0/log4j-jmx-gui-2.10.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../source/log4j2/apache-log4j-2.10.0/log4j-jul-2.10.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../source/log4j2/apache-log4j-2.10.0/log4j-liquibase-2.10.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../source/log4j2/apache-log4j-2.10.0/log4j-mongodb-2.10.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../source/log4j2/apache-log4j-2.10.0/log4j-slf4j-impl-2.10.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../source/log4j2/apache-log4j-2.10.0/log4j-taglib-2.10.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../source/log4j2/apache-log4j-2.10.0/log4j-web-2.10.0.jar!/" />
    </CLASSES>
    <JAVADOC>
      <root url="jar://$PROJECT_DIR$/../../../source/log4j2/apache-log4j-2.10.0/log4j-1.2-api-2.10.0-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../source/log4j2/apache-log4j-2.10.0/log4j-api-2.10.0-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../source/log4j2/apache-log4j-2.10.0/log4j-appserver-2.10.0-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../source/log4j2/apache-log4j-2.10.0/log4j-cassandra-2.10.0-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../source/log4j2/apache-log4j-2.10.0/log4j-core-2.10.0-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../source/log4j2/apache-log4j-2.10.0/log4j-couchdb-2.10.0-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../source/log4j2/apache-log4j-2.10.0/log4j-flume-ng-2.10.0-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../source/log4j2/apache-log4j-2.10.0/log4j-iostreams-2.10.0-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../source/log4j2/apache-log4j-2.10.0/log4j-jcl-2.10.0-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../source/log4j2/apache-log4j-2.10.0/log4j-jmx-gui-2.10.0-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../source/log4j2/apache-log4j-2.10.0/log4j-jul-2.10.0-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../source/log4j2/apache-log4j-2.10.0/log4j-liquibase-2.10.0-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../source/log4j2/apache-log4j-2.10.0/log4j-mongodb-2.10.0-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../source/log4j2/apache-log4j-2.10.0/log4j-slf4j-impl-2.10.0-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../source/log4j2/apache-log4j-2.10.0/log4j-taglib-2.10.0-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../source/log4j2/apache-log4j-2.10.0/log4j-web-2.10.0-javadoc.jar!/" />
    </JAVADOC>
    <SOURCES>
      <root url="jar://$PROJECT_DIR$/../../../source/log4j2/apache-log4j-2.10.0/log4j-1.2-api-2.10.0-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../source/log4j2/apache-log4j-2.10.0/log4j-api-2.10.0-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../source/log4j2/apache-log4j-2.10.0/log4j-appserver-2.10.0-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../source/log4j2/apache-log4j-2.10.0/log4j-cassandra-2.10.0-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../source/log4j2/apache-log4j-2.10.0/log4j-core-2.10.0-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../source/log4j2/apache-log4j-2.10.0/log4j-core-2.10.0-tests.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../source/log4j2/apache-log4j-2.10.0/log4j-couchdb-2.10.0-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../source/log4j2/apache-log4j-2.10.0/log4j-flume-ng-2.10.0-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../source/log4j2/apache-log4j-2.10.0/log4j-iostreams-2.10.0-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../source/log4j2/apache-log4j-2.10.0/log4j-jcl-2.10.0-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../source/log4j2/apache-log4j-2.10.0/log4j-jmx-gui-2.10.0-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../source/log4j2/apache-log4j-2.10.0/log4j-jul-2.10.0-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../source/log4j2/apache-log4j-2.10.0/log4j-liquibase-2.10.0-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../source/log4j2/apache-log4j-2.10.0/log4j-mongodb-2.10.0-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../source/log4j2/apache-log4j-2.10.0/log4j-slf4j-impl-2.10.0-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../source/log4j2/apache-log4j-2.10.0/log4j-taglib-2.10.0-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../source/log4j2/apache-log4j-2.10.0/log4j-web-2.10.0-sources.jar!/" />
    </SOURCES>
  </library>
</component>